* {
    box-sizing: border-box;
    /* font */
    font-family: "Averta CY", sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}